[submodule "Crimson/vendor/spdlog"]
	path = Crimson/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Crimson/vendor/GLFW"]
	path = Crimson/vendor/GLFW
	url = https://github.com/anakin004/glfw
[submodule "Crimson/vendor/imgui"]
	path = Crimson/vendor/imgui
	url = https://github.com/anakin004/imgui
